.imgBoxCart {
    /*background-color: antiquewhite;*/
}

.imgCart {
    display: flex;
    max-width: 100%;
    object-fit: cover;

}

.boxImgCart:hover {
    transition: all 1s ease 0.1s;
    transform: scale(1.08);
}

.fontNameCart {
    padding: 35px;
    font-family: 'Roboto', sans-serif;
    color: rgb(39, 61, 70);
    line-height: 1.389;
    font-size: calc(24px + 11 * ((100vw - 320px) / 1158));
}


.fontRequisite {
    padding: 35px;
    font-family: 'Roboto', sans-serif;
    line-height: 1;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
    color: #80b7b3;
}

.ulPositionText {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 15px
;

}

.liPositionStyle1 {
    padding: 10px;
    font-family: 'Roboto', sans-serif;
    color: rgba(39, 61, 70, 0.8);
    line-height: 1.667;
    font-weight: 400;
    font-size: calc(18px + 5 * ((100vw - 320px) / 1158));
    text-shadow: 5px -2px 11px #80B7B3;
}

.liAnimationStyle:hover {
    transition: all 0.5s ease 0.1s;
    transform: translate3D(10px, -5px, 10px);
    text-shadow: 15px -7px 15px #80B7B3;
}


@media (min-width: 320px) and (max-width: 767px) {

}

@media (min-width: 768px) and (max-width: 1023px) {

}

@media (min-width: 1024px) and (max-width: 1280px) {

}