.imgBoxCart {
    /*background-color: antiquewhite;*/
}

.imgCart {
    display: flex;
    margin-top: 2%;
    margin-bottom: 2%;
    max-width: 100%;
    object-fit: cover;
}

/* .boxImgCart:hover {
    transition: all 1s ease 0.1s;
    transform: scale(1.08);
} */

.fontNameCart {
    padding: 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: rgb(39, 61, 70);
    line-height: 1.389;
    font-size: calc(24px + 11 * ((100vw - 320px) / 1158));
    /*text-shadow: 2px 2px 2px #575048;*/
}

.fontNameCart1 {
    /*padding-top: 4%;*/
    /*padding-bottom: 4%;*/
    font-size: calc(20px + 5 * ((100vw - 320px) / 1158));

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    /*font-size: 18px*/
}

.boxfontNameCart_23 {
    display: flex;
    justify-content: center;
    align-items: baseline;
    /*padding: 4%;*/
}

.fontNameCart2 {
    display: flex;
    width: 30%;
    padding-left: 20%;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    color: rgb(39, 61, 70);
    line-height: 1.389;
    font-size: calc(16px + 9 * ((100vw - 320px) / 1158));
    /*text-shadow: 2px 2px 2px #575048;*/

    /*background-color: gray;*/
}

.fontNameCart3 {
    display: flex;
    justify-content: left;
    width: 70%;
    padding-left: 1.8%;
    font-size: calc(16px + 9 * ((100vw - 320px) / 1158));
    /*font-size: 18px*/

    /*background-color: palegoldenrod;*/
}

.textCart1 {
    display: inline-block;
    padding: 20px;
    line-height: 1.800;
    width: 90%;

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    /*font-size: 17px;*/
    font-size: calc(11px + 6 * ((100vw - 320px) / 1158));
}

.boxTwoText {
    display: flex;
    justify-content: center;
}

.blockTwoText1 {
    display: inline-block;
    text-align: left;
    line-height: 1.215;
    padding: 3%;

    font-family: "Roboto", sans-serif;
    font-weight: 500;
    /*font-size: 17px;*/
    font-size: calc(7px + 10 * ((100vw - 320px) / 1158));

}

.blockTwoText2 {
    display: inline-block;
    text-align: left;
    line-height: 1.3;

    padding: 3%;

    font-family: "Roboto", sans-serif;
    font-weight: 300;
    /*font-size: 16px;*/
    font-size: calc(7px + 9 * ((100vw - 320px) / 1158));

}

.boxTwoText2 {
    display: inline-block;
    text-align: left;
    width: 100%;
    padding: 3%;

    /*font-family: "Roboto", sans-serif;*/
    /*font-weight: 300;*/
    /*line-height: 1;*/
    /*!*font-size: 17px;*!*/
    /*font-size: calc(7px + 7 * ((100vw - 320px) / 1158));*/
}

.blockTwoText3 {
    display: inline-block;
    text-align: left;
    line-height: 2;

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    /*font-size: 17px;*/
    font-size: calc(7px + 7 * ((100vw - 320px) / 1158));

}

.blockTwoText4 {
    display: inline-block;
    text-align: left;
    line-height: 1.1;

    font-family: "Roboto", sans-serif;
    font-weight: 300;
    /*font-size: 17px;*/
    font-size: calc(7px + 7 * ((100vw - 320px) / 1158));

}



.textCart3 {
    display: inline-block;
    line-height: 1.200;
    width: 95%;
    text-align: left;
    padding: 0.3%;

    font-family: "Roboto", sans-serif;
    font-weight: 300;
    /*font-size: 17px;*/
    font-size: calc(11px + 4 * ((100vw - 320px) / 1158));
}

.textCart3Title {
    display: inline-block;
    text-align: left;
    line-height: 1.200;
    width: 95%;
    padding: 1%;
    padding-left: 20px;
    padding-top: 30px;

    font-family: "Roboto", sans-serif;
    font-weight: 400;
    /*font-size: 17px;*/
    font-size: calc(11px + 4 * ((100vw - 320px) / 1158));
}

.boxTextCart3 {
    display: inline-block;
    width: 95%;
    text-align: left;

    padding-left: 20px;

    line-height: 1.200;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    /*font-size: 17px;*/
    font-size: calc(11px + 4 * ((100vw - 320px) / 1158));
}


.fontNameCart3 {
    padding-top: 4%;
    padding-bottom: 4%;
    font-size: calc(20px + 5 * ((100vw - 320px) / 1158));

    font-family: "Roboto", sans-serif;
    font-weight: 300;
    /*font-size: 18px*/
}


@media (min-width: 320px) and (max-width: 359px) {
    .fontNameCart2 {
        padding-left: 17%;
    }
}

@media (min-width: 360px) and (max-width: 499px) {
    .fontNameCart2 {
        padding-left: 12%;
    }
}

@media (min-width: 500px) and (max-width: 599px) {
    .fontNameCart2 {
        padding-left: 19.3%;
    }
}

@media (min-width: 600px) and (max-width: 767px) {
    .fontNameCart2 {
        padding-left: 17.3%;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .fontNameCart2 {
        padding-left: 18.3%;
    }
}

@media (min-width: 1024px) and (max-width: 1279px) {
    .fontNameCart2 {
        padding-left: 21.3%;
    }
}

@media (min-width: 1280px) and (max-width: 1599px) {
    .fontNameCart2 {
        padding-left: 21.3%;
    }
}

@media (min-width: 1600px) and (max-width: 1800px) {
    .fontNameCart2 {
        padding-left: 20.5%;
    }
}