.imgBoxCart {
    /*background-color: antiquewhite;*/
}

.imgCart {
    max-width: 100%;
    object-fit: cover;
}

.fontNameCart {
    padding: 35px;
    font-size: 36px;
    font-family: "Times New Roman";
    color: rgb(39, 61, 70);
    line-height: 1.389;
}


.Donec_sed_odio_dui__Cras_mattis_consectetur_pur {
    font-size: 36px;
    font-family: 'Roboto', sans-serif;
    color: rgb(39, 61, 70);
    line-height: 1.389;
    text-align: center;
}


.fontRequisite {
    padding: 35px;
    font-family: 'Roboto', sans-serif;
    line-height: 1;
    font-size: 24px;
    font-weight: 700;
    text-align: left;
}

.ulPositionText {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 15px
;

}

.liPositionStyle1 {
    padding: 10px;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    color: rgba(39, 61, 70, 0.8);
    line-height: 1.667;
    font-weight: 400;
    /*list-style-type: disc;*/
}



@media (min-width: 320px) and (max-width: 767px) {

}

@media (min-width: 768px) and (max-width: 1023px) {

}

@media (min-width: 1024px) and (max-width: 1280px) {

}