
.footerCraft {
    display: flex;
    justify-content: space-between;

    background-color: rgba(188, 224, 240, 0.51);
    box-sizing: border-box;
    width: 100%;
    text-align: left;

}

.fontRequisite {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 60px;


    margin: 3%;



    line-height: 1.200;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    /*font-size: 21px;*/
    font-size: calc(11px + 8 * ((100vw - 320px) / 1158));
}

.footerBtnFont {
    width: 180px;
    height: 60px;
    border-radius: 8px;
    border: hsl(57, 48%, 51%) solid 2px;

    margin: 3%;


    line-height: 1.200;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    /*font-size: 21px;*/
    font-size: calc(10px + 4 * ((100vw - 320px) / 1158));

    color: hsl(57, 90%, 66%);
    background-color: hsl(33, 24%, 33%);
}

.footerBtnFont:hover {
    border: #9c9287 solid 2px;
    /*padding: 2px;*/
    background-color: hsl(31, 10%, 57%);
    color: hsl(264, 100%, 99%);
}

.footerBtnFont:focus {
    border: hsl(57, 48%, 51%) solid 2px;
    /*padding: 2px;*/
    background-color: hsl(31, 10%, 57%);
    color: hsl(264, 100%, 99%);
}

.textRequisite {
    width: 90%;

    line-height: 1.400;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    /*font-size: 21px;*/
    font-size: calc(11px + 4 * ((100vw - 320px) / 1158));
}

.boxMiddleContact {
    display: flex;
    width: 100%;

}

.contactPhone  {
    display: flex;
    width: 55%;
    padding: 10px;
    justify-content: center;
    flex-direction: column;
}